<div class="col-md-12 header-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <h2>My Tasks</h2>
                </div>
                <div class="row">
                    <small>A simple to-do app</small>
                </div>
            </div>
            <div class="col-md-2">
                <button *ngIf="loggedInUser.isAdmin" class="btn btn-default add-btn" data-toggle="modal" data-target="#modal"><fa name="plus"></fa> Add New Task</button>
            </div>
            <div class="col-md-1 user-icon-parent">
                <fa class="user-icon" name="user"></fa>
                <div class="user-hover-menu">
                    <ul>
                        <li>Hi <i>{{loggedInUser.username}}</i></li>
                        <li (click)=logoutUser()>Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>